@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
	@apply px-6 py-2 rounded-lg;
}

.social-icons {
	@apply py-2 px-2 bg-pur rounded-full;
}
.social-img {
	@apply w-14 object-bottom object-cover;
}
.input-box {
	@apply w-full py-2.5 px-3
}
.h-btn{
	@apply transition duration-500 hover:bg-purple-700
}
.active-nav{
	@apply lg:border-b-4 text-pur lg:text-black font-medium lg:font-normal rounded border-pur
}

.active-type{
	@apply border-b-4 border-pur text-pur
}
.agent-sidebar{
	@apply text-white bg-pur rounded-xl
}

.table-sm{
	@apply hidden md:block
}

.trans{
	transition:  all 0.4s;
}

.adjust-bg{
	background-size: 8%;
}

.filte{
	filter: drop-shadow(0px 6px 33px rgba(0, 0, 0, 0.25));
}

.remove-scroll::-webkit-scrollbar{
	display: none;
}

.remove-scroll{
	-ms-overflow-style: none;
	scrollbar-width: none;
}


.grad-p{
	background: linear-gradient(269.89deg, #79017B 0.06%, #280129 97.7%);
}

.color{
	background-color: rgb(46, 45, 46);
}
@media screen and (max-width:767px) {
	.slide{
		border-top: 1px solid #c0bcbc;
		text-align: center;
		margin-top: 20px;
		align-content: center;
	}
}